<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Faster</title>
</head>
<body>
<div class="grid">
    <header></header>
    <div class="phone"></div>
    <div class="hero">
    <div class="hero-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi corporis debitis eius esse explicabo impedit iure totam! Ab autem consectetur dignissimos esse necessitatibus quibusdam quis quo temporibus? Labore, natus.</p>
    </div>

    </div>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
</div>
<section></section>
<section></section>
<section></section>
</body>
</html>
